# Use Bzlmod (required for BCR)
common --enable_bzlmod

# C++ standard
build --cxxopt=-std=c++23
build --host_cxxopt=-std=c++23

# Compiler settings
build --cxxopt=-Wall
build --cxxopt=-Wextra

build --repo_env=CC=clang
# Use system Python to avoid "Lorem ipsum.txt" space-in-filename issue
build:compile_commands --extra_toolchains=@bazel_tools//tools/python:autodetecting_toolchain
